
.news-list{font-size: 14px;}
.news-list a{color: #333}
.news-list ul,
.news-list li{list-style: none}
.news-list li{margin-bottom: 15px;}

.pagination{text-align: center}
.pagination span{margin:0 5px; cursor: pointer}
.pagination span:hover{color: green}
.pagination .on{color: red}
.pagination .hidePage{display: none}
