html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.app {
	width: 6.4rem;
	height: 100%;
	margin: 0;
	padding: 0;
}

.app-header {
	font-size: 0;
}

.app-header img {
	width: 6.4rem;
	background-size: 100% auto;
	font-size: 0;
}

.app-footer {
	position: fixed;
	bottom: 0;
	font-size: 0;
	display: none;
	z-index: 5;
}
.app-footer img {
	width: 6.4rem;
	height: 1.64rem;
}

.mask {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .8);
	background: rgba(0, 0, 0)\9;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80)\9;/*/兼容ie8及以下/*/
	display: none;
	text-align: right;
	z-index: 10;
}
.mask img {
	width: 3.02rem;
	height: 1.44rem;
	margin-top: 0.2rem;
	margin-right: 0.2rem;
	z-index: 15;
}