body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,fieldset, lengend, button, input, textarea,th, td {margin:0;padding:0}
button, input, select, textarea {font:12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif}
h4, h5, h6{font-size:100%}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,fieldset, lengend, button, input, textarea,th, td {margin:0;padding:0}
button, input, select, textarea {font:12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif}
address, cite, dfn, em, var, i { font-style:normal;}
code, kbd, pre, samp, tt { font-family:"Courier New", Courier, monospace;}
ul, ol { list-style:none}
a {text-decoration:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
a:hover { text-decoration:none}
q:before, q:after { content:'';}
legend { color:#000;}
fieldset, img { border:none;}
button, input, select, textarea {font-size:100%}
table {border-collapse:collapse;border-spacing:0}
hr {border:none;height:1px}
p, a, li,span{font-size: 0.24rem;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1}
body{font:12px/1.5 'Microsoft Yahei', simsun, Arial, Tahoma;background:#000;background-repeat: no-repeat;background-position: top;background-size: cover;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body *{max-height:999999px}
img{width: 100%;height: auto;display: block;padding: 0;margin: 0}
.clearfix:after{content: "";clear: both;display: block;}
body{margin: 0 auto;background: #fff;font-size: 0.24rem;height:auto}


.new-main{background: #f8f8f8}
.back{z-index:2;display: block;width: 1.36rem;height: 0.6rem;background:url(../img/back.png) no-repeat;background-size:100%;position: absolute;top: 1.39rem;left: 0.44rem;}
.box-new{position: relative;margin:0 auto;padding: 2.4rem 0 .8rem 0;width: 5.6rem}
.new-title{width: 100%;}
.new-title h3{margin: 0 auto;max-width: 5.50rem;font-size: 0.3rem;text-align: center;font-weight: normal;}
.new-title span{display:block;width:1.2rem;height:.4rem;line-height:.4rem;color: #717171;font-size: 0.20rem;position: relative;left: 2.3rem;top: 0.1rem;text-align:center;overflow:hidden}
.title-border{height: 0.3rem;width: 100%;border-bottom:1px solid #444444; }
.new-inner{width: 5.6rem;font-size: 0.24rem;line-height: 0.42rem;margin-top: 0.3rem}
.new-inner img{max-width: 5.6rem;}
.next-new {position: relative;height: .6rem;text-align:center;margin-top:.5rem}
.next-new span{margin:0 .2rem}
.next-new .p-new{background:url(../img/prev-new.png) no-repeat;background-size:100% auto;width: 1.8rem;height: 0.6rem;display: inline-block}
.next-new .n-new{background:url(../img/next-new.png) no-repeat;background-size:100% auto;width: 1.8rem;height: 0.6rem;display: inline-block}
.page{margin-top: 0.2rem;text-align: center;font-size: 0.26rem;position: relative;top: 10.5rem}
.page a{margin-right: 0.15rem;display: inline-block;}
.page .on{color: #c4c4c4}

.share{position: absolute;top: 1.45rem;right: 0.4rem;font-size: 0.20rem;z-index: 2;}
.weibo-share{width: 0.45rem;height: 0.4rem;background: url(../img/weibo.png) no-repeat;display: inline-block;background-size:100%;}
.share span{display: inline-block;position: relative;top: -0.10rem;font-size: 0.24rem;margin-right: 0.02rem}

