.demo-menu
{
    font-weight: bold;
    font-size: 18px;
    width: 690px;
    font-family: "Microsoft YaHei",Tahoma,SimSun,Verdana;
    margin: 0 auto;
}
.demo-menu li a{
    padding: 0 30px;
    color: #a49183 !important;
}
body
{
    font-size: 40px;
}

h2{font-size: 16px; background: #e6f7ff; line-height: 40px; border-left: 3px solid #1890ff; padding-left: 30px; margin:20px 0;}
.anchor-list{position: fixed; right: 10px; top: 10px}
.anchor-list a{display: block}