.demo-menu
{
    font-weight: bold;
    font-size: 18px;
    width: 690px;
    font-family: "Microsoft YaHei",Tahoma,SimSun,Verdana;
    margin: 0 auto;
}
.demo-menu li a{
    padding: 0 30px;
    color: #a49183 !important;
}
body
{
    font-size: 40px;
}